    <div class="row">
        <div id="login-page" class="col s6 center-align">
            <div class="col s12 z-depth-4 card-panel">
                <form class="login-form animated fadeIn" ng-show="vm.ShouldDisplayLoginForm">
                    <div class="row">
                        <div class="input-field col s12 center">
                            <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                            <p class="center login-form-text">{{vm.arroz}}</p>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input id="username" type="text" ng-model="vm.username">
                            <label for="username" class="center-align">Username</label>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input id="password" type="password" ng-model="vm.password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <a ng-click="DoLogin()" class="btn waves-effect waves-light col s12">Login</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 m6 l6">
                            <p class="margin medium-small"><a ng-click="RegisterNewUser()">{{vm.footerLeftText}}</a></p>
                        </div>
                        <div class="input-field col s6 m6 l6">
                            <p class="margin right-align medium-small"><a ng-click="ForgotPassword()">{{vm.footerRightText}}</a></p>
                        </div>
                    </div>

                </form>



                <div class="animated fadeIn">
                    <form class="recoveryPassword-form animated fadeIn" ng-show="vm.ShouldDisplayRecoveryPassword">
                        <div class="row">
                            <div class="input-field col s12 center">
                                <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                                <p class="center login-form-text">Recuperar senha</p>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="mdi-social-person-outline prefix"></i>
                                <input id="useremail" type="text" ng-model="vm.useremail">
                                <label for="useremail" class="center-align">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m6 l6">
                                <p class="margin medium-small"><a ng-click="Back()">{{vm.footerLeftText}}</a></p>
                            </div>
                            <div class="input-field col s6 m6 l6">
                                <p class="margin right-align medium-small"><a>{{vm.footerRightText}}</a></p>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="input-field col s12">
                                <a ng-click="RecoverPassword()" class="btn waves-effect waves-light col s12">Login</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="animated fadeIn" ng-show="vm.ShouldDisplayRegisterUser">
                    <form class="register-new-user-form">
                        <div class="row">
                            <div class="input-field col s12 center">
                                <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
                                <p class="center login-form-text">Criar novo usuário</p>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="mdi-social-person-outline prefix"></i>
                                <input id="merchantName" type="text" ng-model="vm.merchantName">
                                <label for="merchantName" class="center-align">Razão Social</label>
                            </div>
                        </div>
                        <div class="row margin">
                            <div class="input-field col s12">
                                <i class="mdi-social-person-outline prefix"></i>
                                <input id="merchantCep" type="text" ng-model="vm.merchantCep" ng-Keypress="CepFocusOut" maxlength="9">
                                <label for="merchantCep" class="center-align">Cep</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m6 l6">
                                <p class="margin medium-small"><a ng-click="Back()">{{vm.footerLeftText}}</a></p>
                            </div>
                            <div class="input-field col s6 m6 l6">
                                <p class="margin right-align medium-small"><a>{{vm.footerRightText}}</a></p>
                            </div>
                        </div>
                    </form>
                </div>




            </div>
        </div>
    </div>