<section>
   <div class="row z-depth-2">
    	<div class="col s12 l3 v100 left-menu">
			<div class="row">
	        	<div class="col s12">
		        	<div class="row">
			        	<div class="col l12">
			        	<br>
							<p class="center-align"><img class="circle" src="jaca.jpg" style="width: 50%"><br>
								<h5 class="center-align stone">{{vm.merchantName}}</h5>
							</p>
						</div>
					</div>
					<hr>
		    	</div>
		    </div>
		    <div class="row">
	        	<div class="col s12">
	        	<!--
		          	<div class="row card" style="padding: 10px">
				    	<div class="input-field col s12">
				    	<i class="material-icons prefix stone">account_circle</i>
				      		<input type="text">
				      		<label class="active" for="first_name2">Nome do Comprador</label>
				   		</div>
				   		<div class="col s12 center-align">
				   		<button class="btn waves-effect waves-green stone-bg" type="submit" name="action">Buscar
						    <i class="material-icons right">search</i>
						</button>
				   		</div>
				    </div>
				-->

				    <div class="row card" style="padding: 10px">
				   		<div class="col s12 center-align">
				   			<p class="stone">
					   			<ul class="collection">
							      <li class="collection-item"><a ui-sref="home.resume({Id: vm.MerchantId})" class="stone2">Dashboard</a></li>
							      <li class="collection-item"><a ui-sref="home.promos({Id: vm.MerchantId})" class="stone2">Listar Promoções</a></li>			   		
							      <li class="collection-item"><a ui-sref="home.promo({Id: vm.MerchantId})" class="stone2">Cadastrar Promoção</a></li>
							    </ul>
							</p>
				   		</div>
				    </div>
				    
	        	</div>
	        </div>


    	</div>
    	<div class="col s12 m8 l9 v100"> 
    		<ui-view></ui-view>
    		
  		</div>

	</div>

</section>