<div class="row" ng-style="{opacity: vm.show}">
  <div ng-show="vm.show">
  	<div class="col s12">
  		<h5 class="center-align stone">{{vm.title}}</h5>
  		<hr>
  	<br>
  	</div>

      <div class="row">
        <div class="col s12">
          <div class="card stone" ng-repeat="promotion in vm.promotions">
              <div class="card-content stone">
                <span class="card-title promo-title">{{promotion.Name}}</span>
                <span class="card-title promo-title right-align">19/08/2017</span>
                <p class="promo-subtitle">{{promotion.Description}}</p>
              </div>
              <div class="card-action right-align" style="padding:5px 25px;">
                <button ng-click="delPromotion(promotion.Id)" class="btn" style="background-color: red !important">Excluir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>